.idea
*.log
*.o
sudo.password
attachment.*
dovecot/source
dovecot/target
dovecot/run
dovecot/home/test/mail
dovecot/staging
dovecot/configuration/dovecot.conf
dovecot/configuration/dovecot-sql.conf.ext
dovecot/configuration/mailservice.sqlite
dovecot/configuration/conf.d/10-master.conf
dovecot/configuration/conf.d/10-logging.conf
dovecot/configuration/conf.d/80-mailfilter.conf
dovecot/configuration/conf.d/auth-passwdfile.conf.ext
dovecot/configuration/conf.d/auth-sql.conf.ext